*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.container{
    width: 900px;
    height: 90vh;
    margin: 0 auto;
    padding-top: 20px;
}

.center{
    margin: 0 auto;
    cursor: pointer;
  
}


.container-one{
    background-color: #303030;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 5px #0c0c0c;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    transition: transform 1s;
}

.container-one:hover{
    transform: scale(1.1);
}



.centerdiv{
    display: grid;
    margin-bottom: 20px;
}

.container-two{
    display: flex;
}


.container-two1{
    background-color: #008b8b;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 5px #226363;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    transition: transform 1s;
}

.container-two1:hover{
    transform: scale(1.1);
}


.container-two2{
    background-color: #daa520;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    box-shadow: 10px 10px 5px #907532;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    transition: transform 1s;
}

.container-two2:hover{
    transform: scale(1.1);
}

.container-three{
    display: flex;
}


.container-three1{
    background-color: #de1414;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 5px #8b2327;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    transition: transform 1s;
}

.container-three1:hover{
    transform: scale(1.1);
}

.container-three2{
    background-color: #751ce1;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    box-shadow: 10px 10px 5px #673b9a;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    transition: transform 1s;
}

.container-three2:hover{
    transform: scale(1.1);
}

.container-three3{
    background-color: #45a3d4;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    box-shadow: 10px 10px 5px #437692;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    transition: transform 1s;
}

.container-three3:hover{
    transform: scale(1.1);
}


