@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.fa-x {
    margin: auto ;
    color: red;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.fa-check {
    margin: auto ;
    color: #0c9b4c;
    font-weight: bold;
    font-size: 23px;
}


.container {
    margin-top: 200px;
}

i {
    cursor: pointer;
}

table {
    width: 700px;
    height: 330px;
    border-collapse: collapse;
    margin: 0 auto;
}

th {
    font-weight: bold;
}

tr {
    text-align: center;
}

td {
    border-top: 2px solid #c8c8c8;
    border-right: 2px solid #c8c8c8;
}


.fila-uno {
    height: 70px;
}

.fila-dos {
    height: 60px;
}

.fila-tres {
    height: 50px;
}

.paquete {
    border-top-left-radius: 25px;
}

.abajo {
    border-bottom-left-radius: 25px;
}

.turquesa {
    color: #f2f2f2;
    background-color: #008b8b;
    border-right: 2px solid #f2f2f2;
}

.verde {
    background-color: #0c9b4c;
    color: #f2f2f2;
}

.azul {
    background-color: #42a7ff;
    color: #f2f2f2;
}

.naranja {
    background-color: #ff7b00;
    color: #f2f2f2;
}

.morado {
    background-color: #550662;
    color: #f2f2f2;
    border-top-right-radius: 25px ;
}


.border-tur {
    border-bottom-left-radius: 25px;
}

.border-down {
    border-bottom: 2px solid #c2c2c2;
}

