@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

select {
    outline: none;
    border: none;
}

option .opt {
    height: 100px;
}

input {
    border: none;

    outline: none;
}


#seleccion {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #b70e21;
}

.grup-form {
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.grup-form > * {
    padding: 1em;
}

.grup-formLeft {
    margin-bottom: 0;
    padding-bottom: 0;
}

.grup-formRight {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0px 15px;
}

.grup-formLeft form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grup-formLeft form .block {
    grid-column: 1 / 3;
}

.grup-formLeft form  p {
    margin: 0;
    padding: 1em;
}

.grup-formRight form p {
    margin: 0;
    padding: 1em;
}

textarea {
    outline: none;
}

.grup-formRight > * {
    padding-top: 1.2em;
    width: 100%;
}


.grup-formRight form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grup-formRight form .block {
    grid-column: 1 / 3;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: .7em;
    font-weight: bold;
    width: 100%;
}

button:hover {
    background: #b70e21;
    transition: 1s;
    font-weight: bold;
    color: aliceblue;
}

.grup-formLeft input,
.grup-formLeft textarea {
    width: 100%;
    padding: .7em;
    border-bottom: 1px solid black;
}





@media(min-width: 700px) {
    body {
        padding: 0 4rem;
    }

    .grup-form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 600px;
    }

    .grup-form > * {
        padding: 2em;
    }

 
    .grup-formRight > * {
        padding-top: 1em;
        width: 100%;
    }

    button {
        margin-top: 20px;
    }

}

