body{
    background-image: url(../img/fondo4.jpg);
    background-size: cover;
}
h1{
    text-align: center;
    color: white;
    font-family: monster;
    font-size: 60px;
}

a{
    text-decoration: none;
}

.title :hover{
    color: red;
}




.image1 img{
    width: 300px;
    height: 400px;
    position: absolute;
    left: 200px;
    top: 125px;
    border-radius: 5%;
}

.image1 h2 a{
    font-size: 25px;
    font-family: game;
    text-align: center;
    position: absolute;
    left: 200px;
    top: 550px;
    float: left;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.image1 h2 a:hover{
    color: rgb(57, 198, 253);
}

.image2 img{
    width: 300px;
    height: 400px;
    position: absolute;
    left: 524px;
    top: 125px;
    border-radius: 5%;
}

.image2 h2 a{
    text-align: center;
    position: absolute;
    right: 625px;
    top: 540px;
    float: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: netflix;
    font-size: 40px;
}

.image2 h2 a:hover{
    color: red;
}

.image3 img{
    width: 300px;
    height: 400px;
    position: absolute;
    right: 200px;
    top: 125px;
    float: right;
    border-radius: 5%;
}

.image3 h2 a{
    text-align: center;
    position: absolute;
    right: 278px;
    top: 525px;
    float: right;
    text-decoration: none;
    color: rgb(252, 252, 252);
    font-family: wal;
    font-size: 55px;
}

.image3 h2 a:hover{
    color: rgba(51, 168, 236, 0.74);
}



/*fuente*/

@font-face {
    font-family: monster;
    src: url("monster.ttf");
}

@font-face {
    font-family: game;
    src: url("game.ttf");
}

@font-face {
    font-family: netflix;
    src: url("netflix.ttf");
}

@font-face {
    font-family: wal;
    src: url("waltograph42.otf");
}


